<button class="pageBtn prevBtn" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="surveyBox">
  <!-- 問卷基本資訊 -->
  <div class="infoBox">
    <h2 class="title">{{survey.name}}</h2>
    <h3 class="survey-info">Description:</h3>
    <h3 class="survey-info">{{survey.description}}</h3>
    <h3>
      <label class="person"> Name:
        <input type="text" [disabled]="true">
      </label>
    </h3>
    <h3>
      <label class="person"> Email:
        <input type="email" [disabled]="true">
      </label>
    </h3>
    <h3>
      <label class="person"> Phone:
        <input type="text" [disabled]="true">
      </label>
    </h3>
    <h3>
      <label class="person"> Age:
        <input type="number" [disabled]="true">
      </label>
    </h3>
  </div>
  <!-- 問題資料 -->
  <div class="questions-container">
    @for(questionData of survey.questionList; track $index){
    <div class="questionBox">
      <h3>
        Question{{$index+1}}: {{questionData.name}}
        @if(questionData.is_must){
        <span style="color: red;">*</span>
        }
      </h3>
    </div>
    <!-- 選項資料 -->
    <!-- 簡答 -->
    @if(questionData.type == 'text'){
    <label>
      <textarea rows="10" cols="50" [disabled]="true"></textarea>
    </label>
    }
    <!-- 單選 -->
    @if(questionData.type == 'single'){
    <div class="choices-box">
      <ol>
        @for(choiceData of questionData.options; track $index){
        <div class="choice-item">
          <li><input type="radio" [disabled]="true">{{choiceData.op}}</li>
        </div>
        }
      </ol>
    </div>
    }
    <!-- 多選 -->
    @if(questionData.type == 'multi'){
    <div class="choices-box">
      <ol>
        @for(choiceData of questionData.options; track $index){
        <div class="choice-item">
          <li><input type="checkbox" [disabled]="true">{{choiceData.op}}</li>
        </div>
        }
      </ol>
    </div>
    }
    }
    <div class="line"></div>
    <div class="btnBox">
      <button class="pageBtn saveBtn" (click)="save(false)">
        <mat-icon>save</mat-icon> Save
      </button>
      <button class="pageBtn publishBtn" (click)="save(true)">
        <mat-icon>publish</mat-icon> Published
      </button>
    </div>
  </div>
