<mat-toolbar>
  <mat-icon class="logo">pie_chart</mat-icon>
  <span><em>Angular Survey</em></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon"
   aria-label="Example icon-button with heart icon"
   routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon"
   aria-label="Example icon-button with share icon"
   routerLink="/home" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
