.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

mat-icon {
  color: #8bb5da;
}

span {
  color: #666ab0;
}

.logo {
  margin: auto 20px auto 10px;
  scale: 1.5;
}
