//外框
$container-color: #cbd3eb;
//帳密文字
$label-text-color: #3e3d95;
$input-focus-color: #666ab0;
//登入按鈕
$button-bg-color: #666ab0;
$button-text-color: #e7eefb;
$button-hover-color: #3e3d95;
//icon
$icon-color: #666ab0;
//////////////////////////////////////////////////////////////////////////

.container {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  background-color: $container-color;
  margin: 15vh auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  position: relative;
  color: $label-text-color;
  margin-bottom: 10px;
}

input {
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 3px;
}

input:focus {
  border: 2px solid $input-focus-color;
  outline: none;
}

button {
  width: 80%;
  padding: 10px;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: $button-hover-color;
}

a {
  margin-top: 5px;
  color: $label-text-color;
}

mat-icon {
  display: block;
  scale: 2;
  height: 40px;
  margin: 10px;
  color: $icon-color;
}

p {
  color:$label-text-color;
  border-bottom: 1px solid #3e3d95;
  margin-top: 10px;
  cursor: pointer;
}
