::ng-deep {
  .mat-mdc-tab-header.mat-mdc-tab-nav-bar-stretch-tabs .mat-mdc-tab-link {
      background-color: #dae2f9;
      border-radius: 10px 10px 0 0;
      margin-right: 2px;
  }
}
.container{
  margin-top: 5px;
}
