<app-toolbar></app-toolbar>
<div class="title content-slide-in">
  <h1>
    Welcome to Survey<span>Pie</span>!
  </h1>
</div>
<div class="container">
  <div class="content">
    <p>Discover the simplest way to create and share surveys. With intuitive tools and customizable templates,
      you can design professional questionnaires in minutes.
      Whether you're gathering feedback, conducting research, or simply collecting opinions, our platform ensures a
      seamless
      experience for both creators and respondents. What are you waiting for? Let's get started today!
    </p>
    <div class="BtnBox">
      <button type="button" routerLink="/front">Respondent</button>
      <button type="button" routerLink="/login">Creator</button>
    </div>
  </div>
  <div class="imgBox">
    <img class="img1" src="/imgs/homeImg.webp" alt="qeg1">
  </div>
</div>
